@model CrudDapperMVC.Model.Client

@{
    ViewBag.Title = "Delete";
}

<div class="alert alert-danger" role="alert">
    Deseja deletar o item selecionado?
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name) :
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CPF) :
            @Html.DisplayFor(model => model.CPF)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Email) :
            @Html.DisplayFor(model => model.Email)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Phone) :
            @Html.DisplayFor(model => model.Phone)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Active) :
            @Html.DisplayFor(model => model.Active)
        </dt>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Voltar à lista", "Index", null, null, new { @class = "btn btn-warning" })
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
